
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <!-- Jquery CDN links-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.0.1/jquery-confirm.min.js" integrity="sha256-qoEbsWr9pdk2mgz+rNpgjI+6o1f/veYGHmSUzbVcCEE=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.0.1/jquery-confirm.min.css" integrity="sha256-2XBQS9Flg05mSVHjl4FyxDsSXttSu1JwOX7oqHISwNM=" crossorigin="anonymous" />
    
    <!-- VIS JS (Network Topology) CDN links-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css"/>
    
    <!-- Lodash (used for various functions) CDN links-->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.min.js"></script>
    
    <!-- Bootstrap CDN links-->
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
    <!-- Local JS and CSS files-->
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/formatting.css' %}"/>
    
    <script type="text/javascript" src="{% static 'js/pageFunctions.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/leavePageWarning.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/sideBar.js' %}"></script>
 </head>
 
<div id="mySidenav" class="sidenav">
  <span style="font-size:30px;cursor:pointer" id="openButton" class="openbtn" onclick=openNav(true)>&#9776;</span>
  <a href="javascript:void(0)" class="closebtn" onclick=closeNav(false)>&times;</a>
  <a href="/Home">Home</a>
  <a href="../NetworkTopology">Network Topology</a>
  <a href="../Admin">Admin</a>
  <a href="../Contact">Contact</a>
</div>

<div id="main">
    <div id="dimmer"></div>
    <h1>OpenAutomation</h1>
    Resize the canvas by scrolling up/down with your mouse/trackpad on the topology. Pan around the canvas by clicking and dragging the space behind the topology.
    <body onload="draw();">
        <table id="nodeID" cellspacing="0" cellpadding="0">
            <h2></h2>
                <tr>
                    <td></td>
                    <td><label for="node-id">Node Label: </label></td>
                    <td><input id="node-id" type="text" value=""></td>
                </tr>
        </table>
        <table class="deviceTable" id="deviceTable" cellspacing="0" cellpadding="0">
            <tr>
                <td><label for="node-image">Devices:</label></td>
                <td><img id = "Router" src = "/static/images/router.png" onclick="addNode('router')" width="111" height="111" onmouseover="" style="cursor: pointer;"/></td>
                <td><img id = "Network" src = "/static/images/network.png" onmouseover="" style="cursor: pointer;" data-toggle="modal" data-target="#myNetworkModal"/></td>
                <td><img id = "VM" src = "/static/images/vm.png" width="121" height="121" onmouseover="" style="cursor: pointer;" data-toggle="modal" data-target="#Application-Modal"/></td>
                <!--<td><img id = "Apache" src = "/static/images/apache.png" onclick="addNode('apache')" width="121" height="121" onmouseover="" style="cursor: pointer;"/></td>
                <td><img id = "Wordpress" src = "/static/images/wordpress.png" onclick="addNode('wordpress')" width="121" height="121" onmouseover="" style="cursor: pointer;"/></td>-->
            </tr>
        </table>
        <div class="container">
            <div class="btn-group-vertical">
                <td><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#newApplicationModal">Add Application</button>
                <td><button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#removeApplicationModal">Remove Application</button>
            </div>
        </div>
        <table id="actionTable" cellspacing="0", cellpadding="0">
            <tr>
                <button type="button" id="submitJson" class="btn btn-default btn-sm" onclick="deploy();">Deploy to Openstack</button>
                <button type="button" id="node-remove" class="btn btn-default btn-sm" onclick="removeNodeFromTopology()">Remove from Network</button>
                <button type="button" id="tearDown" class="btn btn-default btn-sm" onclick="tearDown();">Tear Down from Openstack</button>
            </tr>
            <tr>
                <td><button type="button "id="save template" class="btn btn-default btn-sm" data-toggle="modal" data-target="#saveTopologyModal">Save Topology to Database</button></td>
                <td><button type="button" id="return template" class="btn btn-default btn-sm" onclick="returnTopology();">Return Topology from Database</button></td>
                <td><button type="button "id="delete template" class="btn btn-default btn-sm" onclick="deleteTemplate();">Delete topology from Database</button></td>
                <td>
                    <form method="POST">
                        <select type="button" class="btn btn-default dropdown-toggle btn-sm" id="top_name_retrieve">
                            {% for entry in topology_name %}
                                <option value="{{ entry.id }}">{{ entry }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </td>
            </tr>
        </table>
    
    
    <!-- Modal used to prompt user to select devices to delete.-->
    <div class="modal fade" id="removeFromNetwork" tabindex="-1" role="dialog" aria-labelledby="removeFromNetworkLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="removeFromNetworkLabel">Select nodes to remove</h4>
                </div>
                <div class="modal-body">
                    <div class="removeNodeFromNetwork">
						<form id="removeNode" role="form">
                            
						</form>
                    </div>
                </div>
                <div class="model-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="destroyModal('removeFromNetwork');">Close</button>
                    <button type="button" id="applicationModalSave" class="btn btn-primary" data-dismiss="modal" onclick="removeNode();">Save</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal used to prompt user for confirmation on saving a topology.-->
    <div class="modal fade" id="saveTopologyModal" tabindex="-1" role="dialog" aria-labelledby="saveTopologyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="saveTopologyModalLabel">Enter a name for this topology</h4>
                </div>
                <div class="modal-body">
                    <div class="newTopologyForm">
                        <form class="form-horizontal" id="newTopologyForm" role="form">
                            <div class="form-group" id="topologyName">
                                <label class="col-sm-2 control-label" for="topologyName">Topology Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="topologyName" placeHolder="Topology Name"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="destroyModal('saveTopologyModal');">Close</button>
                    <button type="button" id="newNetworkModalSave" class="btn btn-primary" onclick="saveTopology();" data-dismiss="modal" >Save topology</button>
                </div>
            </div>
        </div>
    </div>

                
    <!-- New Application Modal - Used to add applications to the DB -->
    <div class="modal fade" id="newApplicationModal" tabindex="-1" role="dialog" aria-labelledby="addNewApplicationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="addNewApplicationModalLabel">Add new application (Updates application list)</h4>
                </div>
                <div class="modal-body">
                    <div class="newApplicationForm">
                        <form class="form-horizontal" id="newApplicationForm" role="form">
                            <div class="form-group" id="applicationName">
                                <label class="col-sm-2 control-label" for="applicationName">Application Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="applicationName" placeHolder="Application Name"/>
                                </div>
                            </div>
                            <div class ="form-group" id="applicationRequirements">
                                <label class="col-sm-2 control-label" for="applicationRequirements">Application Requirements (Enter comma separated values)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="applicationRequirements" placeHolder="Application Requirements"/>
                                </div>
                            </div>
							<div class="form-group" id="osAllowed">
								<label>Select the OS to use with this application.</label>
								<ul>
                                    {% for image in image_list %}
                                        <li><label><input type="radio" id="{{image}}" value="{{image}}" name="chosenOS">{{image}}</label></li>
                                    {% endfor %}
								</ul>
							</div>
						</form>
                        <!--<form method="post" enctype="multipart/form-data" id="post-form">{% csrf_token %}
                            {{form.as_p}}
                            <!--<div class="form-actions">
                                <button type="submit" id="newNetworkModalSave" class="btn btn-primary" >Save</button>
                            </div>
                            <input type="submit" class="btn btn-primary" onclick="addNewApplication();">Save</button>
                        </form>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="destroyModal('newApplicationModal');">Close</button>
                    <button type="button" id="newNetworkModalSave" class="btn btn-primary" onclick="addNewApplication();" data-dismiss="modal" >Save</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- New Application Modal - Used to remove applications from the DB -->
    <div class="modal fade" id="removeApplicationModal" tabindex="-1" role="dialog" aria-labelledby="removeApplicationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="removeApplicationModalLabel">Remove application</h4>
                </div>
                <div class="modal-body">
                    <div class="removeApplicationForm">
                        <form class="form-horizontal text-center" id="removeApplicationForm" role="form">
                            <div class="form-group" id="removedApplicationName">
                                <select type="button" class="btn btn-default dropdown-toggle btn-sm" id="applicationRemoval">
                                    <option disabled selected>Select an application to remove</option>
                                    {% for application in application_names %}
                                        <option value="{{application}}">{{application}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="destroyModal('removeApplicationModal')">Close</button>
                    <button type="button" id="newNetworkModalSave" class="btn btn-primary" onclick="removeApplication();" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    <!-- Modal to allow users to select applications to add to the topology.-->
    <div class="modal fade" id="Application-Modal" tabindex="-1" role="dialog" aria-labelledby="applicationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="applicationModalLabel">Select an application</h4>
                </div>
                <div class="modal-body">
                    <div class="applicationNameForm">
                        <table>
                            <form id="applicationNames" role="form">
                                <ul>
									<label> Select an application</label>
                                    {% for application in application_names %}
                                        <li><label><input type="radio" id="{{forloop.counter0}}" value="{{application}}" name="appName">New {{application}} Instance</label></li>
                                    {% endfor %}
								</ul>
                                    <!--<li><label><input type="radio" name="appName" id="newWordpress" value="Wordpress">New Wordpress Instance</label></li>
                                    <li><label><input type="radio" name="appName" id="newApache" value="Apache">New Apache Instance</label></li>-->
                                </ul>
                            </form>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="destroyModal('Application-Modal')">Close</button>
                    <button type="button" id="applicationModalSave" class="btn btn-primary" onclick="addApplications({{application_reqs}});" data-dismiss="modal">Next</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Dynamically created modal-->
    <div class="modal fade" id="Select-Application-VMs-Modal" tabindex="-1" role="dialog" aria-labelledby="selectApplicationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="selectApplicationModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="newApplicationRequirements">
						<form id="applicationRequirementNames" role="form">
							<div id="newAppList">

							</div>
						</form>
						<form role="form">
							
						</form>
						<!--<form role="form">
							<ul>
								<label> Select an OS </label>
									<li><label><input type="radio" value="{{application_os}}" name="appOSName">{{application_os}}</label></li>
								</ul>
						</form>-->
						<form class="form-horizontal" id="newVMForm" role="form">
							<div class="form-group" id="vmGroupName">
								<label class="col-sm-2 control-label" for="vmGroupName">VM Group Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="vmGroupName" placeHolder="VM Group Name"/>
								</div>
							</div>
						</form>
                    </div>
                </div>
                <div class="model-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetSortable();">Close</button>
                    <button type="button" id="applicationModalSave" class="btn btn-primary" data-dismiss="modal" onclick="saveSelectedAppList();">Save</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Modal to allow users to select networks to add to the topology.-->
    <div class="modal fade" id="myNetworkModal" tabindex="-1" role="dialog" aria-labelledby="networkModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="networkModalLabel">Select a network</h4>
                </div>
                <div class="modal-body">
                    <div class="networkNameForm">
                        <table>
                            <form id="networkNames" role="form">
                                <ul>
                                    {% for network in network_list %}
                                        <li><label><input type="checkbox" id="{{network}}" value="{{network}}" name="chosenNetworks">{{network}}</label></li>
                                    {% endfor %}
                                    <li><label><input type="checkbox" id="newNetwork" value="newNetwork">New Network</label></li>
                                </ul>
                            </form>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="networkModalSave" class="btn btn-primary" onclick="updateNetwork();" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal to allow users to set new network parameters.-->
    <div class="modal fade" id="newNetworkModal" tabindex="-1" role="dialog" aria-labelledby="newNetworkModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="newNetworkModalLabel">Create a new network</h4>
                </div>
                <div class="modal-body">
                    <div class="newNetworkForm">
                        <form class="form-horizontal" id="newNetworkForm" role="form">
                            <div class="form-group" id="SubnetName">
                                <label class="col-sm-2 control-label" for="SubnetName">Subnet Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="SubnetName" placeHolder="Subnet Name"/>
                                </div>
                            </div>
                            <div class ="form-group" id="ipAddr">
                                <label class="col-sm-2 control-label" for="IPAddress">Subnet Network (i.e. 10.0.0.0/24)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="IPAddress" placeHolder="Subnet IP Address"/>
                                </div>
                            </div>
                             <div class ="form-group" id="ipAddr">
                                <label class="col-sm-2 control-label" for="poolStart">DHCP Starting Address (i.e. 10.0.0.0)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="poolStart" placeHolder="DHCP Starting Address"/>
                                </div>
                            </div>
                            <div class ="form-group" id="ipAddr">
                                <label class="col-sm-2 control-label" for="poolEnd">DHCP Ending Address (i.e. 10.0.0.255)</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="poolEnd" placeHolder="DHCP Ending Address"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="newNetworkModalSave" class="btn btn-primary" onclick="addNewNetwork();">Save</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    
    <h1>View</h1>
        <table class="view">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="50%">
            </colgroup>
            <tr>
                <td>
                    <h2>Nodes</h2>
                    <pre id="nodes" contenteditable="true"></pre>
                </td>

                <td>
                    <h2>Edges</h2>
                    <pre id="edges" contenteditable="true"></pre>
                </td>

                <td>
                    <h2>Network</h2>
                    <div id="network"></div>
                </td>
            </tr>
        </table>
    </body>
</div>
</html>
