html, body {
            font-family: "Lato", sans-serif;
            transition: background-color .5s;
        }
.sidenav {
    height: 100%;
    width: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 25px;
}

#main {
    transition: margin-left .5s;
    padding: 40px;
}

#appList, #appList2, #appList3, #appList4 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  
  #appList li, #appList2 li, #appList3 li, #appList4 li{
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
    height: 2.0em;
  }
  
.sidenav span.openbtn{
    position: absolute;
    top: 0;
    float: left;
    left: -25px;
    font-size: 36px;
    margin-left: 25px;
    color: #ffffff;
}

.launch-modal {
    margin: 20px;
}

#networkNames li{
    display: block;
    width: 100%;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15-px;}
  .sidenav a {font-size: 18px;}
}
        ul {
            list-style-type: none;
        }
        
        h1 {
            font-size: 150%;
            margin: 5px 0;
        }

        h2 {
            font-size: 100%;
            margin: 5px 0;
        }

        table.view {
            width: 100%;
        }

        table td {
            vertical-align: top;
        }
        
        #nodeID{
            background-color: #f5f5f5;
            border: 1px solid "white"; 
        }
        
        #dimmer{
            background:#000;
            opacity:0.5;
            position:fixed;
            top:0;
            left:250px;
            width:100%;
            height:100%;
            display:none;
            z-index:9999;
        }
        
        #nodesText{
            display: none;
        }
        
        table table td {
            vertical-align: middle;
        }

        input[type=text], pre {
            border: 1px solid lightgray;
        }
        
        pre {
            margin: 0;
            padding: 5px;
            font-size: 10pt;
        }

        #network {
            width: 800px;
            height: 800px;
            border: 1px solid lightgray;
        }